@import url('https://fonts.cdnfonts.com/css/averta-blackitalic');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1a202c;
  color: rgb(229 231 235);
  font-family: Averta-Regular, Helvetica Neue, Helvetica, Arial, sans-serif;
}
