@font-face {
  font-family: 'Averta-Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Averta-Regular'), url('https://fonts.cdnfonts.com/s/14933/Averta.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Averta-ExtraBoldItalic';
  font-style: italic;
  font-weight: 400;
  src: local('Averta-ExtraBoldItalic'), url('https://fonts.cdnfonts.com/s/14933/Averta Extra Bold Italic.woff') format('woff');
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1a202c;
  color: rgb(229 231 235);
}
